image: Visual Studio 2019

environment:
  matrix:
  - solution_path: Homework1\Homework1.sln

before_build:
 - nuget restore %solution_path%

build_script:
  - msbuild %solution_path%

test_script:
  - dotnet test --test-adapter-path:. --logger:Appveyor Homework1.Tests\Homework1.Tests.fsproj